header	{
	background: darkslategray;
	color: White;
	padding: 20px 30px;
	display: flex;
	justify-content: space-between
	align-items: center;
	box-shados: 0 2px 6px rgba(0, 0, 0, 0.2) ;
}
body{
		font-family: Arial, sans-serif;
		background: whitesmoke;
}

.Prog {background-color: red;}
.Sist {background-color: #d1ecf1;}
.BBDD {background-color: green;}
.IPE {background-color: yellow;}
.Ing {background-color: crimson;}
.Pro {background-color: purple;}
.LLMM {background-color: orange;}
.Dig {background-color: pink;}
.Sost {background-color: blue;}
.Ent {background-color: brown;}
.Rec {background-color: violet;}
.dia {background-color: grey;}

footer	{
	background: darkslategray;
	color: White;
	padding: 20px 30px;
	display: flex;
	justify-content: space-between
	align-items: center;
	box-shados: 0 2px 6px rgba(0, 0, 0, 0.2) ;
}
	
	
	
	
	
	